.items-root {
  min-height: 100vh;
  height: 100%;
  padding: 0.5rem;
  background-color: #F4F8F9;
}

.items-search-container {
  display: flex;
  flex-direction: column;
}

.items-search-id {
  margin: 1rem 1rem 0 1rem;
}

.items-search-detail {
  margin: 1rem;
}
