.home-root {
  min-height: 100vh;
  height: 100%;
  padding: 0.5rem;
  background-color: #F4F8F9;
}

.home-searchBox {
  margin: 1rem 0;
}

.copy-to-clipboard {
  cursor: pointer;
  font-size: large;
}

.home-searchBox-tips {
  color: #969696;
  font-size: small;
}

.home-renderId {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.home-story-item {
  margin-right: 1.25rem;
  margin-bottom: 0.125rem;
}

@media only screen and (max-width: 600px) {
  .home-renderId {
    justify-content: space-around;
  }
  .home-story-item {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .copy-to-clipboard {
    display: none;
  }
}
